/* MOBILE FIRST */

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@400;700&display=swap');
/* font-family: 'Bungee', cursive; */
/* font-family: 'Montserrat', sans-serif; */

* {
  box-sizing: border-box;
}

body {
  background-color: #ff4242;
  padding: 30px 0;
}

b {
  font-weight: 900;
}


h1, h2 {
  color: #F3F3F4;
  font-family: 'Bungee', cursive;
  line-height: 1.2;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.main-container {
  padding: 0 30px;
}

/* ENCRYPTER AREA */
.encrypter-area textarea {
  background-color: #0F0E0E;
  border: 2px solid #F3F3F4;
  box-sizing: border-box;
  color: #F3F3F4;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  height: 200px;
  margin: 20px auto;
  max-width: 460px;
  outline: none;
  padding: 10px;
  resize: none;
  width: 100%;

  /* error animation properties */
  transition: left 50ms linear;
  position: relative;
}
textarea::placeholder {
  color: inherit;
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.controls input {
  background-color: #0F0E0E;
  border: 2px solid #F3F3F4;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(15, 15, 14, 0.314);
  box-sizing: border-box;
  color: #F3F3F4;
  flex: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5625rem;
  height: 40px;
  margin: 5px 0;
  outline: none;
  text-align: center;
  width: 150px;
}

.key-input {
  text-transform: uppercase;

  /* error animation properties */
  position: relative;
  transition: left 50ms linear;
}
.key-input::placeholder {
  color: inherit;
}

.button {
  background-color: #F3F3F4;
  border: 2px solid #0F0E0E;
  border-radius: 10px;
  color: #0F0E0E;
  position: relative; /* To animate element */
  transition: background-color 0.4s;
}

.controls .button:hover{
  background-color: #F3F3F4;
  color: #0F0E0E;
}
.controls .button:active{
  box-shadow: inset 1px 1px 5px #99a39d;
  top: 2px;
}

/* ABOUT AREA */
.about-area {
  margin: 40px auto 0;
  max-width: 460px;
}

.about-area h2 {
  font-size: 2rem;
}

.about-area p {
  color: #F3F3F4;
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0;
  text-indent: 20px;
  font-family: 'Montserrat', sans-serif;
}

/* MEDIA-QUERIES */
@media (min-width: 640px) {
  .controls {
    flex-direction: row;
    margin: 0 auto;
    width: 460px;
  }

  .controls .encrypt-btn {
    margin: 0 10px;
  }
}