/* MOBILE FIRST */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
/* Font reference: 
   font-family: 'Ubuntu', sans-serif;
   font-family: 'Roboto', sans-serif;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #0F0E0E;
}

b {
  font-weight: 900;
}

main {
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.144);
  margin: 35px auto;
  max-width: 1500px;
  padding: 30px;
  width: 80%;
}

h1, h2 {
  color: #0F0E0E;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2;
  text-align: center;
}
p {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 3rem;
}

/* ENCRYPTER AREA */
.encrypter-area textarea {
  display: block;
  font-size: 20px;
  height: 200px;
  margin: 20px auto;
  max-width: 460px;
  outline: none;
  padding: 10px;
  position: relative; /* To animate element */
  resize: none;
  transition: left 50ms linear;
  width: 100%;
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.controls input {
  border-radius: 10px;
  color: #0F0E0E;
  flex: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  height: 40px;
  margin: 5px 0;
  outline: none;
  text-align: center;
  width: 150px;
}

.key-input {
  border: 1px solid #C0C0C0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  position: relative; /* To animate element */
  transition: left 50ms linear;
}

.button {
  background-color: #FFF;
  border: 2px solid #B3BFB8;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #B3BFB850;
  color: #0F0E0E;
  transition: background-color 0.4s;
  position: relative; /* To animate element */
}

.controls .button:hover{
  background-color: #B3BFB8;
}
.controls .button:active{
  box-shadow: inset 1px 1px 5px #99a39d;
  top: 2px;
}

/* ABOUT AREA */
.about-area {
  margin: 40px auto 0;
  max-width: 460px;
}
.about-area h2 {
  color: #0F0E0E;
  font-size: 2rem;
}
.about-area p {
  color: #0F0E0E;
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0;
  text-indent: 20px;
}

/* MEDIA-QUERIES */
@media (min-width: 640px) {
  .controls {
    flex-direction: row;
    margin: 0 auto;
    width: 460px;
  }

  .controls .encrypt-btn {
    margin: 0 10px;
  }
}